# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Vim
*~
*.swp

# Rebar / Erlang folders and files
priv/
blocks/
_build/
rebar.lock

# Testing
*.dec

.eunit
*.o
*.beam
*.plt
erl_crash.dump
rel/example_project
.concrete/DEV_MODE

c_src/gf-complete
c_src/jerasure
c_src/isa-l
